body {
   	padding-left: 11em;
   	font-family: Segoe UI;
	color:#000000;
    	background-color: #FFD21F
}
h1 {
    	font-family:Segoe UI;
	color: #6d9dc5;
}
h2 {
    	font-family:Segoe UI;
	color: #CE272A;
}
h3 {
    	font-family:Segoe UI;
	color: #CE272A;
}
h4 {
    	font-family:Segoe UI;
	color: #6d9dc5;
}
ul.navbar {
    	list-style-type: none;
    	padding: 0;
    	margin: 0;
	position: absolute;
    	top: 2em;
    	left: 1em;
    	width: 10em
}
ul.navbar li {
    	background: white;
    	margin: 0.5em 0;
    	padding: 0.3em;
    	border-right: 1em solid black;
}
ul.navbar a {
    	text-decoration: none;
}
a:link {
    	color: #6d9dc5; 
}
a:visited {
    	color: #6d9dc5; 
}
address {
    	margin-top: 1em;
    	padding-top: 1em;
    	border-top: thin dotted;
}
.btn-group button {
	position: absolute;
  background-color: #04AA6D; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 0; /* Some padding */
	margin: 0;
  cursor: pointer; /* Pointer/hand icon */
  width: 10em; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}
/*button {
	display: block;
    	padding: 0;
    	margin: 0;
	position: absolute;
    	top: 2em;
    	left: 1em;
    	width: 10em;
}*/
	